h1{color:rosybrown;}
blockquote {color:indianred;}
blockquote {font-family: "lucidaconsole"}
body {background-color: mistyrose;}
p{color:indianred;}
img {margin-left: 70px ; width: 300px;
padding: 5px;}
